@model V2.Models.Categorium
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mt-5">
    <div class="col-sm-4">
        <form asp-action="Delete" asp-controller="Categoria" method="post">
            <input type="hidden" asp-for="IdCategoria" />
            <div class="mb-2">
                <label class="form-label" asp-for="IdCategoria">Nombre</label>
                <input class="form-control form-control-sm" asp-for="Descripcion" type="text" readonly />
            </div>

            <button class="btn btn-danger btn-sm" type="submit">Eliminar</button>
        </form>
    </div>
</div>
