@model V2.Models.Cliente
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row mt-5">
    <div class="col-sm-4">
        <form asp-action="Edit" asp-controller="Clientes" method="post">
            <input type="hidden" asp-for="IdCliente" />
            <div class="mb-2">
                <label class="form-label" asp-for="IdCliente">Nombre</label>
                <input class="form-control form-control-sm" asp-for="Nombre" type="text" />
            </div>

            <div class="mb-2">
                <label class="form-label" asp-for="IdCliente">Telefono</label>
                <input class="form-control form-control-sm" asp-for="Telefono" type="text" />
            </div>

            <button class="btn btn-primary btn-sm" type="submit">Editar</button>
        </form>
    </div>
</div>
