@model V2.Models.Modelo
@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="row mt-5">
    <div class="col-sm-4">
        <form asp-action="Edit" asp-controller="Modelo" method="post">
            <input type="hidden" asp-for="IdModelo" />
            <div class="mb-2">
                <label class="form-label" asp-for="IdModelo">Nombre</label>
                <input class="form-control form-control-sm" asp-for="Descripcion" type="text" />
            </div>

            <button class="btn btn-primary btn-sm" type="submit">Editar</button>
        </form>
    </div>
</div>
