@model List<V2.Models.Marca>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card mt-4">
     <div class="card-header">
        <i class="fa-solid fa-bookmark"></i> Marca
     </div>
     <div class="card-body">
         <a class="btn btn-success" asp-action="Create" asp-controller="Marca" ><i class="fa-solid fa-bookmark"></i></a>
         <hr />

         <table class="table table-striped">
             <thead>
                 <tr>
                     <th>Categoria</th>
                 </tr>
             </thead>
             <tbody>
                 @foreach (var item in Model)
                 {
                     <tr>
                         <td>@item.Descripcion</td>
                         <td>
                             <a class="btn btn-primary btn-sm" asp-action="Edit" asp-controller="Marca" asp-route-IdMarca="@item.IdMarca"><i class="fa-solid fa-user-pen"></i></a> |
                             <a class="btn btn-danger btn-sm" asp-action="Delete" asp-controller="Marca" asp-route-IdMarca="@item.IdMarca"><i class="fa-solid fa-trash-can"></i></a>
                         </td>
                     </tr>
                 }
             </tbody>
         </table>
     </div>
</div>
